<template>
  <div>
      <div id="location-overlay" class="location-overlay">
    <div class="location-header">
      <a href="javascript:void(0)" class="closebtn" id="close-location">&times;</a>
    </div>

    <div class="location-overlay-content">
      <div class="container">
        <div class="row" style="margin-bottom:5px;">
          <h2 style="font-size: 34px;">
            <span style="font-size:20px;">
              Ingresa tu dirección y
              <br>
            </span>
            encuentra un
            <span style="color: #F6931E;font-weight:600;">Waitari</span> cerca a ti.
          </h2>
        </div>
        <div class="row">
          <form action>
            @if(session('logged'))
            <div
              class="col-lg-8 col-md-10 col-sm-12 col-centered btn-wrapper remove-margintop margin-bottom10"
            >
              <button
                id="show-frec-addr"
                type="button"
                class="btn btn-white btn-lg btn-block gray-font"
              >
                MIS DIRECCIONES FRECUENTES
                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
              </button>
            </div>@endif
            <div class="waitari-search-wrapper">
              <div class="col-lg-8 col-md-10 col-sm-12 col-centered">
                <div id="waitari-search-input">
                  <div class="input-group col-md-12">
                    <input
                      type="text"
                      id="name-street"
                      class="form-control input-lg"
                      placeholder="Mi dirección es.."
                    >
                    <span class="input-group-btn">
                      <button class="btn btn-info btn-lg" type="button">
                        <i class="glyphicon glyphicon-search"></i>
                      </button>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-lg-8 col-md-10 col-sm-12 col-centered">
                <div class="map-wrapper">
                  <div id="waitari-map"></div>
                </div>
              </div>
            </div>
            <div class="frec-addr-wrapper" style="display:none;">
              <div class="col-lg-8 col-md-10 col-sm-12 col-centered">
                <div class="frec-addr-wrapper_body">
                  <div class="frec-addr-wrapper_items-list">
                    @if(session('user_addresses'))
                    @foreach(session('user_addresses') as $key => $addr)
                    <div
                      class="frec-addr-wrapper_item"
                      data-addressid="{{ $addr->id }}"
                      data-address="{{ $addr->address }}"
                      data-lat="{{ $addr->lat }}"
                      data-lng="{{ $addr->lng }}"
                    >{{ $addr->address }}</div>@endforeach
                    @endif
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-8 col-md-10 col-sm-12 col-centered btn-wrapper">
              <button
                type="submit"
                id="show-menu"
                class="btn btn-primary btn-lg btn-block"
              >VER CARTA</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script>
  // Set up state of variables and elements

  function initializeMaps() {
    if (typeof initMap === "function") {
      initMap();
    }
    initMapToFindAWaitariAround();
  }

  var addr = {};
  var map;
  var markers = [];
  var restaurants_found = [];

  $(".frec-addr-wrapper_item").on("click", function() {
    var $address_item = $(this);

    var address_id = $address_item.data("addressid");
    var address_name = $address_item.data("address");
    var lat = $address_item.data("lat");
    var lng = $address_item.data("lng");
    console.log($address_item);

    var restaurants = findRestaurantAroundByLatAndLng(lat, lng);
    if (restaurants.length > 0) {
      var addr_data = {
        id: address_id,
        name: address_name,
        lat: lat,
        lng: lng
      };
      $.ajax({
        type: "POST",
        url: config._backend + "/address/add",
        data: addr_data,
        dataType: "json",
        success: function(data) {
          console.log("Success");
          console.log(data);
          window.location.href = "/menu/" + restaurants[0].id;
        }
      });
      // window.location.href = '/menu/' + restaurants[0].id;
    } else {
      var $show_menu_btn = $("#show-menu");
      $show_menu_btn.attr("disabled", true);
      $show_menu_btn.text("LO SENTIMOS, NO ENCONTRAMOS UN WAITARI DISPONIBLE.");
    }
  });

  function initMapToFindAWaitariAround() {
    var pos = {
      lat: -12.120745,
      lng: -77.024825
    };

    map = new google.maps.Map(document.getElementById("waitari-map"), {
      center: pos,
      zoom: 13,
      mapTypeControl: false
    });

    // Create the search box and link it to the UI element.
    var input = document.getElementById("name-street");
    var searchBox = new google.maps.places.SearchBox(input);
    // map.controls[google.maps.ControlPosition.TOP_LEFT].push(input);

    // Bias the SearchBox results towards current map's viewport.
    map.addListener("bounds_changed", function() {
      searchBox.setBounds(map.getBounds());
    });

    markers = [];
    // Listen for the event fired when the user selects a prediction and retrieve
    // more details for that place.
    searchBox.addListener("places_changed", function() {
      var places = searchBox.getPlaces();

      if (places.length == 0) {
        return;
      }

      // Clear out the old markers.
      markers.forEach(function(marker) {
        marker.setMap(null);
      });
      markers = [];

      // For each place, get the icon, name and location.
      var bounds = new google.maps.LatLngBounds();

      places.forEach(function(place, index, array) {
        addr = {};

        if (array.length === 1) {
          try {
            addr["name"] = place.name;
            addr["lat"] = place.geometry.location.lat();
            addr["lng"] = place.geometry.location.lng();
            addr["address"] = place.formatted_address.split(", ")[0];
            input_addr = document.getElementById("name-street").value;
            addr["district"] =
              place.types[0] === "street_address" || place.types[0] === "route"
                ? input_addr.split(", ")[1]
                : input_addr.split(", ")[2];

            if (typeof addr["district"] === "undefined")
              addr["district"] = place.vicinity;

            place.address_components.forEach(function(value, index, array) {
              if (value.types[0] === "street_number")
                addr["number"] = value.long_name;
              else if (value.types[0] === "route")
                addr["street"] = value.long_name;
              else if (value.types[0] === "country")
                addr["country"] = value.long_name;
              else if (value.types[0] === "postal_code")
                addr["poscode"] = value.long_name;
            });
          } catch (e) {
            console.log("Error in places:");
            console.log(e);
          }
        }

        // console.log(JSON.stringify(place,null,4));
        // console.log(JSON.stringify(addr,null,4));

        if (!place.geometry) {
          console.log("Returned place contains no geometry");
          return;
        }
        var icon = {
          url: place.icon,
          size: new google.maps.Size(71, 71),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(17, 34),
          scaledSize: new google.maps.Size(25, 25)
        };

        // Create a marker for each place.
        markers.push(
          new google.maps.Marker({
            map: map,
            // icon: icon,
            title: place.name,
            position: place.geometry.location,
            animation: google.maps.Animation.DROP
          })
        );

        if (place.geometry.viewport) {
          // Only geocodes have viewport.
          bounds.union(place.geometry.viewport);
        } else {
          bounds.extend(place.geometry.location);
        }
      });

      map.fitBounds(bounds);

      //FIND RESTAURANTS
      user_lat = addr.lat;
      user_lng = addr.lng;

      restaurants_found = findRestaurantAroundByLatAndLng(user_lat, user_lng);

      var $show_menu_btn = $("#show-menu");
      if (restaurants_found.length > 0) {
        console.log("Restaurant found: " + restaurants_found[0].name);
        $show_menu_btn.attr("disabled", false);
        $show_menu_btn.text("VER CARTA");
      } else {
        $show_menu_btn.attr("disabled", true);
        $show_menu_btn.text(
          "LO SENTIMOS, NO ENCONTRAMOS UN WAITARI DISPONIBLE."
        );
      }
    });
  }

  function findRestaurantAroundByLatAndLng(user_lat, user_lng) {
    var restaurants_found = [];

    $.ajax({
      type: "GET",
      url: config._backend + "/restaurant/getall",
      async: false,
      success: function(data) {
        var restaurants = data.restaurants;
        //Set coords for each restaurant
        for (const rkey in restaurants) {
          var coords = [];
          var latitude = JSON.parse(restaurants[rkey].lat);
          var longitude = JSON.parse(restaurants[rkey].lng);
          for (const key in latitude) {
            coords.push({ lat: latitude[key], lng: longitude[key] });
          }
          restaurants[rkey].coords = coords;

          // clean coords for the next restaurant
          coords = [];
        }

        // Logic to know if a restaurant is available in the user location
        for (const key in restaurants) {
          var polygon = new google.maps.Polygon({
            paths: restaurants[key].coords
          });

          if (
            google.maps.geometry.poly.containsLocation(
              new google.maps.LatLng(user_lat, user_lng),
              polygon
            )
          ) {
            restaurants_found.push({
              id: restaurants[key].id,
              name: restaurants[key].name
            });
          }
        }
      }
    });
    return restaurants_found;
  }
  </script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8USmdISunMBrtD3MIz_uRtL8ep8ptb28&libraries=geometry,places&callback=initializeMaps"
    async
    defer
  ></script>
  </div>
</template>
