<template>
  <div>
    <transition v-if="logmodal" name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">
            <div class="modal-header">
              <slot name="header">
                <span>Iniciar Sesión</span>
                <a @click="$emit('close')">X</a>
              </slot>
            </div>
            <div class="modal-body">
              <slot name="body">
                <form>
                  <p>Ingresa tu número de celular</p>
                  <input type="text" v-model="user.phone" required>
                  <p>Ingresa tu contraseña</p>
                  <input type="password" v-model="user.password" required>
                  <div class="modal-body__btn">
                    <button @click.stop.prevent="login()" class="router">Aceptar</button>
                    <p>
                      <a v-on:click.stop.prevent="recovery">Olvidaste tu contraseña</a>
                    </p>
                    <p>
                      ¿Aún no tienes una cuenta?
                      <a v-on:click.stop.prevent="register">Regístrate</a>
                    </p>
                  </div>
                </form>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
    <Mregister v-if="registermodal" @close="registermodal=false"/>
    <Mrecoverypass v-if="recoverymodal" @close="recoverymodal=false"/>
  </div>
</template>
<script>
import Mregister from "@/components/modals/Mregister";
import Mrecoverypass from "@/components/modals/Mrecoverypass";
import { setTimeout } from "timers";

export default {
  data() {
    return {
      logged: false,
      logmodal: true,
      registermodal: false,
      recoverymodal: false,
      user: {
        phone: null,
        password: null
      }
    };
  },
  methods: {
    register: function() {
      // this.logmodal = false;
      // setTimeout(() => {
      //   this.registermodal = true;
      // }, 200);
      this.$store.dispatch("toggleModals", {
        close: "login",
        open: "register"
      });
    },
    recovery: function() {
      // this.logmodal = false;
      // setTimeout(() => {
      //   this.recoverymodal = true;
      // }, 200);
      this.$store.dispatch("toggleModals", {
        close: "login",
        open: "recovery"
      });
    },
    login() {
      this.$store
        .dispatch("login", {
          username: this.user.phone.includes("@") ? this.user.phone : this.user.phone.includes("+51")
            ? this.user.phone
            : `+51${this.user.phone}`,
          // username: this.user.phone,
          password: this.user.password
        })
        .then(res => {
          if (res.status != 200) {
            this.$toasted.show(res.data.message, {
              theme: "bubble",
              position: "top-right",
              duration: 2500
            });
          } else {
            this.$toasted.success("Ha iniciado sesion correctamente", {
              theme: "bubble",
              position: "top-right",
              duration: 2500
            });
          }
          this.$emit("close");
        });
    }
  }
};
</script>
