<template>
  <div>
    <transition v-if="logmodal" name="modal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-container">
            <div class="modal-header">
              <slot name="header">
                <span>Nueva Contraseña</span>
                <a @click="$emit('close')">X</a>
              </slot>
            </div>
            <div class="modal-body">
              <slot name="body">
                <form>
                  <p>Ingresa tu nueva contraseña</p>
                  <input type="password" v-model="password" required>
                  <div class="modal-body__btn">
                    <button @click.stop.prevent="save()" class="router">Aceptar</button>
                  </div>
                </form>
              </slot>
            </div>
          </div>
        </div>
      </div>
    </transition>
  </div>
</template>
<script>
import { setTimeout } from "timers";

export default {
  data() {
    return {
      logged: false,
      logmodal: true,
      registermodal: false,
      recoverymodal: false,
      password: null
    };
  },
  methods: {
    save() {
      this.$store
        .dispatch("updateUser", {
          id: this.$store.state.currentUser.id,
          data: { password: this.password }
        })
        .then(res => {
          if (res.status != 200) {
            this.$toasted.show(res.data.message, {
              theme: "bubble",
              position: "top-right",
              duration: 2500
            });
          } else {
            this.$toasted.success("Contraseña actualizada correctamente", {
              theme: "bubble",
              position: "top-right",
              duration: 2500
            });
          }
          this.$emit("close");
        });
    }
  }
};
</script>
