<!--<template>
  <div id="recoveryPasswordModal" class="modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Restablece tu contraseña</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>
            Por favor introduzca el número de celular que usó cuando se registró para su cuenta de Waitari.
            <br>Te enviaremos un código para restablecer tu contraseña.
            <br>NOTA: Solo puedes restablecer tu contraseña una vez por día.
          </p>
          <form id="recoveryPasswordForm">
            { csrf_field() }}
            <div class="row">
              <div class="form-group col-md-6">
                <input type="text" class="form-control" name="phone" placeholder="Celular">
              </div>
              <div class="form-group col-md-6">
                <button type="submit" id="recoveryPasswordBtn" class="btn btn-primary">ENVIAR CÓDIGO</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>-->  
<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <slot name="header">
              <span>Restablece tu contraseña</span>
              <a @click="$emit('close')">X</a>
            </slot>
          </div>
          <div class="modal-body">
            <slot name="body">
              <form>
                <p>
                  Por favor introduzca el número de celular que usó cuando se registró para su cuenta de Waitari.
                  <br>Te enviaremos un código para restablecer tu contraseña.
                  <br>NOTA: Solo puedes restablecer tu contraseña una vez por día.
                </p>
                <input type="text" v-model="phone">
                <div class="modal-body__btn">
                  <button @click.prevent.stop="sent">Enviar Código</button>
                </div>
              </form>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
import { service } from "@/api.js";
export default {
  data() {
    return {
      phone: null
    };
  },
  methods: {
    sent() {
      var countryCode = "+51";
      AccountKit.login(
        "PHONE",
        {
          countryCode: countryCode,
          phoneNumber: this.phone
        },
        this.loginCallback
      );
      this.$emit("close");
    },
    registerSms() {
      var countryCode = "+51";
      AccountKit.login(
        "PHONE",
        {
          countryCode: countryCode,
          phoneNumber: this.phone
        },
        this.loginCallback
      );
    },
    async loginCallback(response) {
      if (response.status === "PARTIALLY_AUTHENTICATED") {
        var code = response.code;
        var csrf = response.state;
        // var res = AccountKitExchange({
        //   code: code,
        //   state: csrf
        // });
        var res = await service.AccountKitRecovery({
          code: code,
          state: csrf,
          data: this.phone
        });
        console.log(res);

        if (res.status == 200) {
          this.$store.dispatch("setRegister", res.data);
          this.$toasted.success("Registro exitoso", {
            theme: "bubble",
            position: "top-right",
            duration: 2500
          });
          // console.log(this.$store.state.currentUser);
          // this.$store.dispatch("login", {
          //   username: a,
          // })
          this.$store.dispatch("toggleModals", {
            close: "recovery",
            open: "newpass"
          });
        } else {
          this.$toasted.show(res.data.detail, {
            theme: "bubble",
            position: "top-right",
            duration: 2500
          });
          this.$emit("close");
        }
        // Send code to server to exchange for access token
      } else if (response.status === "NOT_AUTHENTICATED") {
        // handle authentication failure
        this.$toasted.show("Error en Server", {
          theme: "bubble",
          position: "top-right",
          duration: 2500
        });
      } else if (response.status === "BAD_PARAMS") {
        // handle bad parameters
        this.$toasted.show("Error en request", {
          theme: "bubble",
          position: "top-right",
          duration: 2500
        });
      }
    }
  }
};
</script>
