<template>
  <transition name="modal">
    <div class="modal-mask">
      <div class="modal-wrapper">
        <div class="modal-container">
          <div class="modal-header">
            <slot name="header">
              <span>Crear cuenta</span>
              <a @click="$emit('close')">X</a>
            </slot>
          </div>

          <div class="modal-body">
            <slot name="body">
              <form @submit.prevent="register">
                <p>Nombres</p>
                <input type="text" v-model="user.firstName" required>
                <p>Apellidos</p>
                <input type="text" v-model="user.lastName" required>
                <p>Correo electrónico</p>
                <input type="email" v-model="user.email" required>
                <p>Celular</p>
                <input type="text" v-model="user.phone" required>
                <p>Contraseña</p>
                <input type="password" v-model="user.password" required>
                <p>Confirmar contraseña</p>
                <input type="password" v-model="repassword" required>
                <p>
                  Al confirmar estas aceptando nuestras
                  <a
                    href="/files/Políticas_de_Privacidad.pdf"
                    target="_blank"
                  >Politicas de privacidad</a>
                </p>
                <div class="modal-body__btn">
                  <button>Aceptar</button>
                  <!-- <p>¿Ya tienes cuenta?</p>
                  <a href>ACCEDE</a>-->
                </div>
              </form>
            </slot>
          </div>
        </div>
      </div>
    </div>
  </transition>
</template>
<script>
import { service } from "@/api.js";
export default {
  data() {
    return {
      user: {
        firstName: null,
        lastName: null,
        email: null,
        phone: null,
        password: null
      },
      repassword: null
    };
  },
  methods: {
    async register() {
      if (this.user.password == this.repassword) {
        this.registerSms();
      }
    },
    registerSms() {
      var countryCode = "+51";
      AccountKit.login(
        "PHONE",
        {
          countryCode: countryCode,
          phoneNumber: this.user.phone
        },
        this.loginCallback
      );
    },
    async loginCallback(response) {
      if (response.status === "PARTIALLY_AUTHENTICATED") {
        var code = response.code;
        var csrf = response.state;
        // var res = AccountKitExchange({
        //   code: code,
        //   state: csrf
        // });
        var res = await service.AccountKitExchange({
          code: code,
          state: csrf,
          data: this.user
        });
        if (!res.response) {
          this.$store.dispatch("setRegister", res.data);
          this.$toasted.success("Registro exitoso", {
            theme: "bubble",
            position: "top-right",
            duration: 2500
          });
          // console.log(this.$store.state.currentUser);
          // this.$store.dispatch("login", {
          //   username: a,
          // })
        } else {
          this.$toasted.show(res.response.data.detail, {
            theme: "bubble",
            position: "top-right",
            duration: 2500
          });
        }
        this.user = {};
        this.$emit("close");
        // Send code to server to exchange for access token
      } else if (response.status === "NOT_AUTHENTICATED") {
        // handle authentication failure
      } else if (response.status === "BAD_PARAMS") {
        // handle bad parameters
      }
    }
  }
};
</script>
