<template>
  <div id="validatePhoneCodeModal" class="modal" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Ingresa tu código de validación</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Por favor introduzca el código que fue enviado a tu celular.</p>
          <form id="validatePhoneCodeForm">
            {{ csrf_field() }}
            <div class="row">
              <div class="form-group col-md-6">
                <input
                  type="text"
                  class="form-control"
                  name="phone_code"
                  placeholder="Código"
                  popover-validate
                >
              </div>
              <div class="form-group col-md-6">
                <button
                  type="submit"
                  id="validatePhoneCodeBtn"
                  class="btn btn-primary"
                >ENVIAR CÓDIGO</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>
