<!DOCTYPE html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
      integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
      crossorigin="anonymous"
    />
    <!-- Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Raleway:100,600"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Dancing+Script:400,700|Quicksand:300,400,700"
      rel="stylesheet"
    />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />

    <!-- Optional theme -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
      integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
      crossorigin="anonymous"
    />

    <!-- Styles -->
    <link rel="stylesheet" href="/css/app.css" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5MjcEG7ZdrPaz1dkKqWvWt1VR7E1zhSA&libraries=places"></script>
    
    <%= process.env.NODE_ENV === 'production' ? '<script id="PaymeFormScriptStarter"src="https://vpayment.verifika.com/VPOS2/js/PF/PF.js" ></script>' : '    <script   id="PaymeFormScriptStarter" src="https://integracion.alignetsac.com/VPOS2/js/PF/PF.js"></script>' %>

    <title>Waitari</title>
  </head>
  <body>
    <noscript>
      <strong
        >We're sorry but newwaitari doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>

    <style>
      .root-splash {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1000;
      }
      .root-splash .img1,
      .root-splash .img2 {
        max-width: 150px;
        display: block;
      }
      .root-splash .img1 {
        width: 70px;
        margin: 0 auto;
      }
      .root-splash .img2 {
        position: relative;
        margin: 10px auto;
        /* top: -36px; */
        background: white;
      }
      .rwrap {
        height: 250px;
      }
      .hide {
        display: none;
      }
      /* .img1{
        min-width: 300px !important;
        min-height: auto !important;
      } */
    </style>
    <div class="root-splash">
      <div class="rwrap">
        <img class="img1" src="/img/loader2.gif" alt />
        <img class="img2" src="/img/logo2.png" alt />
      </div>
    </div>
    <!-- built files will be auto injected -->
    <div id="fb-root"></div>
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          xfbml: true,
          version: "v3.2"
        });
      };

      (function(d, s, id) {
        var js,
          fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://connect.facebook.net/es_LA/sdk/xfbml.customerchat.js";
        fjs.parentNode.insertBefore(js, fjs);
      })(document, "script", "facebook-jssdk");
    </script>

    <div
      class="fb-customerchat"
      attribution="setup_tool"
      page_id="108277763108907"
      theme_color="#aa6514"
      logged_in_greeting="Hola! Como podemos ayudarte?"
      logged_out_greeting="Hola! Como podemos ayudarte?"
    ></div>

    <script
      src="https://sdk.accountkit.com/en_US/sdk.js?hash=42037061eb64ccfb0346d4d41eff8c15"
      async=""
      crossorigin="anonymous"
    ></script>
    <script src="https://sdk.accountkit.com/en_US/sdk.js"></script>
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-148001045-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-148001045-1");
    </script>
  </body>
</html>
