<template>
  <div class="container">
    <!--Cabecera menu-->
    <div class="col-md-12 col-xs-12 head-menu">
      <h3>Tu pedido del día de hoy, {{date}}</h3>
    </div>
    <!--Detalle-->
    <div class="container-box">
      <div class="col-xs-12 col-md-6 order" style="padding:0;">
        <div class="col-md-12 col-xs-12 order__title">
          <span>Mi pedido</span>
        </div>
        <div class="col-xs-12 order__text">
          <p>ORDEN</p>
        </div>
        <div class="col-md-12 col-xs-12 order__menu">
          <div class="order-list">
            <CheckCard v-for="plate in $store.state.cart.products" :dato="plate" :key="plate.id"/>
          </div>
          <span>TOTAL {{$store.getters.total_cost | currency}}</span>
        </div>
        <div class="col-md-12 col-xs-12 order__address">
          <div class="col-md-12 col-xs-12 order__address--spoon">
            <p class="spoon-text">¿Realmente necesitas CUBIERTOS?</p>
            <div class="form-check check-silver">
              <input
                type="radio"
                v-model="extra.needSilverware"
                value="NO"
                name="cubiertos-no"
                id="cubiertos-no"
                class="form-check-input"
                checked
              >
              <label for="cubiertos-no" class="form-check-label">NO, no necesito cubiertos</label>
            </div>
            <div class="form-check check-silver">
              <input
                type="radio"
                v-model="extra.needSilverware"
                value="SI"
                name="cubiertos-si"
                id="cubiertos-si"
                class="form-check-input"
              >
              <label for="cubiertos-si" class="form-check-label">Sí, necesito cubiertos</label>
            </div>
          </div>
          <div class="col-xs-12 col-md-12 order__address--title">
            <p>Dirección de entrega</p>
          </div>
          <div class="col-md-12 col-xs-12 order__address--address">
            <span>{{$store.getters.location_name}}</span>
          </div>
          <div class="col-md-12 col-xs-12 order__address--ref">
            <input
              type="text"
              v-model="extra.addressReference"
              placeholder="Ingresa una referencia "
            >
          </div>
        </div>
      </div>

      <!--Informacion de pago-->
      <div class="col-md-6 col-xs-12 information-cont" style="padding:0;">
        <div class="col-md-12 col-xs-12 info-pay">
          <div class="col-md-12 info-pay__headx">
            <span>Información de pago</span>
          </div>
          <div class="col-md-12 col-xs-12">
            <p>Cancelaré con</p>
          </div>
          <div class="col-md-12 col-xs-12">
            <div class="col-md-12 S3">
              <div class="col-md-6 col-xs-6">
                <input
                  v-model="paymentType"
                  type="radio"
                  name="paymentTypeEfectivo"
                  id="paymentTypeEfectivo"
                  :value="'cash'"
                >
                <label for="paymentTypeEfectivo">Efectivo</label>
              </div>
              <!-- <div class="col-md-6 col-xs-6"> -->
              <div class="col-md-6 col-xs-6">
                <input
                  v-model="paymentType"
                  type="radio"
                  name="paymentTypeTarjeta"
                  id="paymentTypeTarjeta"
                  :value="'creditcard'"
                >
                <label for="paymentTypeTarjeta">
                  Tarjeta
                  <i class="fab fa-cc-visa"></i>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-xs-12">
          <template v-if="paymentType=='cash'">
            <p>Con cuanto voy a cancelar</p>
            <input type="text" v-model="extra.cashTopay" placeholder="Ejm: 20, 50, 100">
            <p
              class="error"
              v-if="errorMonto"
            >Debe cancelar con un monto igual o mayor al total de la orden.</p>
            <p class="error" v-if="errorMonto2">Para usar decimales use punto.</p>
          </template>
          <template v-if="paymentType=='creditcard'">
            <br>
            <br>
            <div>
              <div id="alg-paymeform-container"></div>
            </div>
            <!-- <div class="col-md-12 col-xs-12 credit-card">
            <div class="col-md-12 col-xs-12 credit-card__cont1">
              <p for>Número de Tarjeta</p>
              <input class type="number" placeholder="XXXX XXXX XXXX XXXX">
            </div>
            <div class="col-md-12 col-xs-12 credit-card__cont2">
              <p class="col-md-3 col-xs-4">Fecha Exp.</p>
              <input class="col-md-2 col-xs-4" type="number" placeholder="Mes">
              <input class="col-md-2 col-xs-4" type="number" placeholder="Año">
              <p class="col-md-3 col-xs-4">CVC</p>
              <input class="col-md-2 col-xs-4" type="password" placeholder="***">
            </div>
            <div class="col-md-12 col-xs-12 credit-card__cont3">
              <p>Nombre del titular</p>
              <input type="text">
            </div>
            <div class="col-md-12 col-xs-12 credit-card__cont4">
              <p>Email</p>
              <input type="text">
            </div>
            </div>-->
          </template>
        </div>
        <div class="col-md-12 col-xs-12 resume-card">
          <div class="resume-card__cont" v-if="paymentType=='cash'">
            <button>
              <!-- <router-link class="router" to="/confirmacion" @click="order">Confirmar</router-link> -->
              <a @click="order" class="router">Confirmar</a>
            </button>
          </div>
          <div class="resume-card__cont">
            <p>
              Al finalizar tu compra, estas aceptando nuestros
              <a
                href="/files/Términos_y_condiciones.pdf"
                target="_blank"
              >Términos y condiciones</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import CheckCard from "@/components/CheckCard";
import helper from "../helper";
export default {
  name: "prueba",
  data() {
    return {
      date: "",
      plates: helper.data.cart,
      paymentType: "cash",
      total: "",
      cancela: null,
      errorMonto: false,
      errorMonto2: false,
      extra: {
        needSilverware: "NO"
      },
      instance: null,
      today: new Date()
    };
  },
  components: { CheckCard },
  computed: {
    collection() {
      switch (this.today.getDay()) {
        case 1:
          return "lunes";
          break;
        case 2:
          return "martes";
          break;
        case 3:
          return "miercoles";
          break;
        case 4:
          return "jueves";
          break;
        case 5:
          return "viernes";
          break;
      }
    }
  },
  methods: {
    getDate: function() {
      const date = new Date();
      const year = date.getFullYear();
      const month = date.getMonth();
      const day = date.getDate();
      var months = [
        "Enero",
        "Febrero",
        "Marzo",
        "Abril",
        "Mayo",
        "Junio",
        "Julio",
        "Agosto",
        "Setiembre",
        "Octubre",
        "Noviembre",
        "Diciembre"
      ];
      var newMonth = months[month];

      return (this.date = `${day} de ${newMonth} del ${year}`);
    },
    all: function() {
      // this.plates = array;

      var suma = 0;
      for (let i = 0; i < this.plates.length; i++) {
        suma += this.plates[i].price * this.plates[i].qty;
      }
      this.total = suma;
    },
    order(creditcardPayload) {
      if(this.paymentType == "cash"&&!this.extra.cashTopay) {
        this.errorMonto = true;
        return;
      }
      if (
        this.paymentType == "cash" &&
        Number(this.extra.cashTopay) < this.$store.getters.total_cost
      ) {
        this.errorMonto = true;
        return;
      }
      if (this.paymentType == "cash" && this.extra.cashTopay.includes(",")) {
        this.errorMonto2 = true;
        return;
      }
      this.$store
        .dispatch("confirmOrder", {
          id: this.$store.state.cart.order.id,
          shopId: this.$store.state.currentShopId,
          ownerId: this.$store.state.currentUser.id,
          total: this.$store.getters.total_cost,
          collectionSlug: this.collection,
          date:new Date(),
          creditcardPayload,
          shippingAddress:{
            reference:this.extra.addressReference
                  ? this.extra.addressReference
                  : "NINGUNA",
            address:`${this.$store.getters.location_name}`,
          },
          extraData:{
            needSilverware:this.extra.needSilverware,
            cashDetail:this.paymentType == "cash"
                  ? this.extra.cashTopay + " en EFECTIVO"
                  : "TARJETA",
            cash:this.extra.cashTopay||0
          },
          extrainfo: `
              - Dirección a enviar: ${this.$store.getters.location_name}
              - Dirección de referencia: ${
                this.extra.addressReference
                  ? this.extra.addressReference
                  : "NINGUNA"
              }
              - Necesita cubiertos: ${this.extra.needSilverware ? "SI" : "NO"}
              - Pagara con: ${
                this.paymentType == "cash"
                  ? this.extra.cashTopay + " en EFECTIVO"
                  : "TARJETA"
              }
            `,
          paymentType: this.paymentType,
          products: this.$store.getters.products
        })
        .then(res => {
          this.errorMonto = false;
          this.errorMonto2 = false;
          if (res.status == 200) {
            // console.log(res.data)
            this.$toasted.success("Orden Exitosa", {
              theme: "bubble",
              position: "top-right",
              duration: 2500
            });
            this.$router.push({ name: "confirmation" });
          } else {
            this.$toasted.show(res.data.message, {
              theme: "bubble",
              position: "top-right",
              duration: 2500
            });
          }
        });
    },
    initCardForm() {
      var cart = this.$store.state.cart;
      var credentials = this.$store.state.paymeCredentials;
      var order = {
        refId:cart.order.id,
        amount: parseFloat(this.$store.getters.total_cost).toFixed(2),
        currencyCode: "PEN",
        productDescription: "Compra de Menu"
      };
      this.$store.dispatch("signPurchase", order).then(data => {
        PF.Init.execute({
          data: {
            operation: {
              operationNumber: data.operationNumber,
              amount: data.amount,
              currency: {
                code: data.currencyCode,
                symbol: data.currencySymbol
              },
              productDescription: data.productDescription
            },
            customer: {
              // Aca informacion del Usuaio Logueado
              name: this.$store.state.currentUser.firstName||'Usuario de Prueba Perú',
              lastname: this.$store.state.currentUser.lastName||'Perez',
              email: this.$store.state.currentUser.email,
              address: this.$store.state.currentLocation.name,
              zip: "33",
              city: "Lima",
              state: "Lima",
              country: "Peru",
              phone: this.$store.state.currentUser.phone
            },
            signature: data.signature
          },
          listeners: {
            afterPay: response => {
              switch (response.messageCode) {
                case "00":
                case "09":
                  this.$toasted.success(response.message, {
                    theme: "bubble",
                    position: "top-right",
                    duration: 3000
                  });
                  this.order(response);
                  break;
                default:
                  this.$toasted.show(response.message, {
                    theme: "bubble",
                    position: "top-right",
                    duration: 3500
                  });
                  this.$toasted.info("Le sugerimos elegir pagar en Efectivo", {
                    theme: "bubble",
                    position: "top-right",
                    duration: 3500
                  });
                  break;
              }
            }
          },
          settings: {
            key: credentials.publicKey,
            locale: "es_PE",
            identifier: credentials.identifier,
            brands: ["VISA", "MSCD", "AMEX", "DINC"],
            responseType: "extended"
          }
        });
      });
    }
  },
  created() {
    this.getDate();
    this.instance = process.env.NODE_ENV;
    console.log(this.instance);
    // this.all();
  },
  watch: {
    paymentType: function(n, o) {
      if (n == "creditcard") {
        this.initCardForm();
      }
    }
  }
};
</script>

<style lang="scss">
.order-list {
  margin: 3rem auto;
}
label {
  padding: 0 15px;
}
.error {
  color: red;
  font-size: 1.3rem;
  margin: 0;
}
.spoon-text {
  font-size: 1.8rem;
}
.check-silver {
  font-size: 1.5rem;
}
.container-box {
  margin: 6rem 0;
  clear: both;
  padding-top: 2rem;
  @media (min-width: 768px) {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
  }
}
</style>
