<template>
  <div class="confirmation">
    <!-- <div class="container confirmation-responsive">
      <div class="col-md-12 col-xs-12 confirmation-responsive__head">
        <span>Gracias por su compra</span>
      </div>
      <div class="col-xs-12 confirmation-responsive__text">
        <p>PEDIDO: {{$store.state.order.number}}</p>
      </div>
      <div class="col-xs-12 confirmation-responsive__plate">
        <CheckCard v-for="plate in $store.state.order.products" :dato="plate" :key="plate.id"/>
      </div>
      <div class="col-xs-12 confirmation-responsive__total">
        <span>TOTAL {{$store.state.order.total | currency}}</span>
      </div>
      <div class="col-xs-12 confirmation-responsive__address">
        <div class="col-xs-12 confirmation-responsive__address--title">
          <p>DIRECCIÓN DE ENTREGA</p>
        </div>
        <p>{{$store.getters.location_name}}</p>
      </div>
      <div class="col-xs-12 confirmation-responsive__text">
        <p>Por favor asegúrate de recoger el pedido en el punto de tu edificio.</p>
      </div>
    </div>-->
    <div class="container confirmation-desktop">
      <div class="confirmation-desktop__img">
        <img src="../../public/img/confirmation-image.png" alt>
      </div>
      <hr>
      <div class="confirmation-desktop__text col-md-12">
        <h3>PEDIDO: {{$store.state.order.number}}</h3>
        <p>Tu pedido ha sido confirmado, te enviamos un correo electrónico con la confirmacion de su pedido.</p>
        <p>
          Te entregaremos tu pedido en la siguiente dirección. Tu pedido será enviado a
          <span
            class="confirm-address"
          >
            <i class="fas fa-map-marker-alt icon"></i>
            {{$store.getters.location_name}}
          </span>
        </p>
        <p>Si deseas comunicarse con nosotros por favor contáctenos al 993754372 o al correo electrónico hola@waitari.com</p>
        <p>Que tengas un buen día!</p>
      </div>
    </div>
  </div>
</template>
<script>
import CheckCard from "@/components/CheckCard";
import helper from "../helper";
export default {
  name: "prueba",
  data() {
    return {
      date: "",
      // plates: helper.daorder.ta.cart,
      paymentType: true,
      total: ""
    };
  },
  components: { CheckCard },
  computed: {
    dateNow: function() {
      return this.date;
    }
  }
};
</script>

<style>
.confirm-address {
  text-decoration: underline;
  color: #000000;
}
.icon {
  color: red;
}
</style>

