<template>
  <div class="container-fluid home" style="padding:0">
    <div id="map" class="map-card"></div>
    <div class="header-map">
      <div class="col-xs-12 col-md-12 header-map__label">
        <p>Delivery de almuerzos para oficinas desde los S/.10.90</p>
      </div>
      <input
        id="pac-input"
        type="text"
        placeholder="Ingresa tu dirección para ver la carta"
        class="header-map__input"
        :value="location"
      />
      <button :disabled="!!$store.state.errorMessage" class="router" @click="toMenu">Ver carta</button>
      <p class="error" v-if="!!$store.state.errorMessage">{{$store.state.errorMessage}}</p>
    </div>
    <div class="header-information col-xs-12 col-md-12">
      <div class="col-xs-12 col-md-12 header-information__text">
        <p>¿Cómo funciona?</p>
      </div>
    </div>
    <div class="col-md-12 col-xs-12 header-information__box-container" style="padding:0;">
      <div class="col-xs-12 col-md-4 header-information__box">
        <img class="col-xs-6 col-md-12" src="../../public/img/icon1.png" alt />
        <p class="col-xs-6 col-md-12">
          Registra tu pedido
          <br />en menos de 2 minutos
        </p>
      </div>
      <div class="col-xs-12 col-md-4 header-information__box">
        <img class="col-xs-6 col-md-12" src="../../public/img/icon2.png" alt />
        <p class="col-xs-6 col-md-12">
          Recíbelo en el punto de
          <br />entrega de tu edificio
        </p>
      </div>
      <div class="col-xs-12 col-md-4 header-information__box">
        <img class="col-xs-6 col-md-12" src="../../public/img/icon3.png" alt />
        <p class="col-xs-6 col-md-12">
          Disfrútalo en compañia
          <br />de tus amigos
        </p>
      </div>
    </div>
    <div class="header-information__landing">
      <img class="liston" src="../../public/img/Liston.png" width="100%;" alt />
      <img src="../../public/img/plato-landing.png" class="plate" />
    </div>
    <a
      class="whatsapp-link"
      href="https://api.whatsapp.com/send?phone=51965238391"
      target="_blank"
      onclick="event.stopPropagation()"
    >
      <img src="/img/whatsapp-logo.png" class="float-button whatsapp-float-button" />
    </a>
  </div>
</template>
<script>
import { service } from "../api.js";
import { mapGetters } from "vuex";
export default {
  data() {
    return {
      // url:
    };
  },
  computed: {
    // ...mapGetters(['stores'])
    location() {
      if (this.$store.state.currentLocation) {
        return this.$store.state.currentLocation.name;
      }
      return null;
    }
  },
  watch: {
    stores: function(n, o) {
      //LISTA OBTENIDA PARA EL RENDEREO DE POLIGONOS
      console.log(n, "lista");
    }
  },
  created() {
    if (!this.$store.state.isLogged && this.$store.state.currentUserId) {
      this.$store.dispatch("getUser", this.$store.state.currentUserId);
    }
  },
  mounted() {
    var that = this;
    this.$store.dispatch("getStores").then(list => {
      function initMap() {
        var map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: -12.09265, lng: -77.02798 },
          zoom: 17,
          mapTypeControl: false,
          fullscreenControl: false,
          streetViewControl: false,
          zoomControl: false,
          scaleControl: false
        });
        //CREAR POLIGONOS
        for (var item of list) {
          // Define the LatLng coordinates for the polygon's path.
          for (var zone of item.zones) {
            var triangleCoords = zone.coordinates;
            // Construct the polygon.
            if (zone.coordinates.length) {
              var polygon = new google.maps.Polygon({
                paths: triangleCoords,
                strokeColor: "#FF0000",
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: "#FF0000",
                fillOpacity: 0.35
              });
              polygon.setMap(map);
            }
          }
        }

        var card = document.getElementById("pac-card");
        var input = document.getElementById("pac-input");
        // var types = document.getElementById('type-selector');
        // var strictBounds = document.getElementById('strict-bounds-selector');

        //   map.controls[google.maps.ControlPosition.TOP_RIGHT].push(card);

        var autocomplete = new google.maps.places.Autocomplete(input);

        // Bind the map's bounds (viewport) property to the autocomplete object,
        // so that the autocomplete requests use the current map bounds for the
        // bounds option in the request.
        autocomplete.bindTo("bounds", map);

        // Set the data fields to return when the user selects a place.
        autocomplete.setFields([
          "address_components",
          "geometry",
          "icon",
          "name"
        ]);

        //   var infowindow = new google.maps.InfoWindow();
        //   var infowindowContent = document.getElementById("infowindow-content");
        //   infowindow.setContent(infowindowContent);
        var marker = new google.maps.Marker({
          map: map,
          anchorPoint: new google.maps.Point(0, -29)
        });

        autocomplete.addListener("place_changed", function() {
          // infowindow.close();
          marker.setVisible(false);
          var place = autocomplete.getPlace();
          // console.log(
          //   place.geometry.location.lat(),
          //   place.geometry.location.lng()
          // );

          if (!place.geometry) {
            // User entered the name of a Place that was not suggested and
            // pressed the Enter key, or the Place Details request failed.
            window.alert(
              "No details available for input: '" + place.name + "'"
            );
            return;
          }
          // If the place has a geometry, then present it on a map.
          if (place.geometry.viewport) {
            map.fitBounds(place.geometry.viewport);
          } else {
            map.setCenter(place.geometry.location);
            map.setZoom(17); // Why 17? Because it looks good.
          }
          marker.setPosition(place.geometry.location);
          marker.setVisible(true);

          var address = "";
          if (place.address_components) {
            address = [
              (place.address_components[0] &&
                place.address_components[0].short_name) ||
                "",
              (place.address_components[1] &&
                place.address_components[1].short_name) ||
                "",
              (place.address_components[2] &&
                place.address_components[2].short_name) ||
                ""
            ].join(" ");
          }

          that.$store
            .dispatch("shopNearby", {
              lat: place.geometry.location.lat(),
              long: place.geometry.location.lng()
            })
            .then(res => {
              if (res == 200) {
                that.$store.dispatch("setLocation", place);
                that.$router.push({
                  name: "menu",
                  params: {
                    id: that.$store.state.currentShopId,
                    zoneId: that.$store.state.currentZone.id
                  }
                });
              }
            });
        });
      }
      initMap();
    });
  },
  methods: {
    toMenu() {
      if (!!this.$store.state.currentLocation) {
        this.$store
          .dispatch("shopNearby", {
            lat: this.$store.state.currentLocation.geometry.location.lat,
            long: this.$store.state.currentLocation.geometry.location.lng
          })
          .then(res => {
            if (res == 200) {
              // this.$store.dispatch("setLocation", place);
              this.$router.push({
                name: "menu",
                params: {
                  id: this.$store.state.currentShopId,
                  zoneId: this.$store.state.currentZone.id
                }
              });
            }
          });
      }
    }
  }
};
</script>

<style lang="scss">
#map {
  height: 365px !important;
}
.plate {
  position: absolute;
}
.image-liston {
  height: 350px;
}
.error {
  color: red !important;
  font-size: 1.3rem !important;
  margin: 0 !important;
}
</style>
