<template>
<div>
  <head></head>
  <body>
    <h1>Hello world</h1>

    <div id="map"></div>

    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD8USmdISunMBrtD3MIz_uRtL8ep8ptb28&callback=initMap"
      async
      defer
    ></script>
  </body>
</div>
</template>
<script>
var map;
function initMap() {
  var options = {
    center: { lat: -11.8930585, lng: -77.1270646 },
    zoom: 8
  };
  map = new google.maps.Map(document.getElementById("map"), options);
}
export default {
  name: "location"
};
</script>
 <style>
/* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
#map {
  height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
</style>