
<template>
  <div class="container cont menu">
    <input type="hidden" id="logged" value="{ session('logged', 'false') }}" />
    <input type="hidden" id="isFromMenu" value="true" />

    <!--tarejta de menú-->
    <div class="col-xs-12 col-md-12">
      <div class="menu">
        <h1>
          <!-- <i class="fas fa-book-open"></i> -->
          Carta del día
        </h1>
      </div>
    </div>
    <!--Promocion-->
    <div class="col-xs-12 col-md-12 promo">
      <p>
        <!-- <i class="fas fa-star"></i> -->
        Disfruta nuestra variedad de opciones y aprovecha nuestra tarifa corporativa desde S/.10.90
      </p>
    </div>
    <!--Lugar de entrega-->
    <div class="col-xs-12 col-md-12 mensaje">
      <p>
        <!-- <i class="fas fa-map-marked-alt"></i> -->
        <i class="fas fa-map-marker-alt icon"></i>
        Te enviaremos tu pedido a {{$store.getters.location_name}}
      </p>
    </div>

    <!--Contenido de platos menú-->

    <div class="row">
      <div class="col-xs-12 col-md-12 menu-2">
        <div class="container sinpa">
          <div
            class="col-xs-12 col-md-12 menu-2-1"
            v-for="(list, index) of $store.state.menu"
            :key="index"
            :class="{'border-custom': index > 0}"
          >
            <!-- <hr> -->
            <h2>
              <!-- <i class="fas fa-utensil-spoon"></i> -->
              <!-- ENTRADAS -->
              {{list.subcategory.name}}
              <span
                class="min-head"
                v-if="list.subcategory.slug == 'platos-de-fondo'"
              >(todo plato de fondo incluye una bebida)</span>
            </h2>
            <div class="col-xs-12 col-md-12 platos-container">
              <!--Array de netradas-->
              <div class="row row-menu">
                <DishCard
                  v-for="food in list.list"
                  :key="food.id"
                  :datos="{sub: list.subcategory.slug  , ...food}"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-12 menu-3">
        <div class="col-md-6 col-sm-8 col-sm-offset-2 col-xs-12">
          <div class="col-sm-6 col-xs-12">
            <h4>Vinagreta</h4>
            <ul>
              <li>
                <button class="add-to-cart" data-role="saladdress-remove">-</button>
                <span id="saladdressCounter">{ session('saladdress', 0) }}</span>
                <button class="add-to-cart" data-role="saladdress-add">+</button>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 col-xs-12">
            <h4>Limon</h4>
            <ul>
              <li>
                <button class="add-to-cart" data-role="lemon-remove">-</button>
                <span id="lemonCounter">{ session('lemon', 0) }}</span>
                <button class="add-to-cart" data-role="lemon-add">+</button>
              </li>
            </ul>
          </div>
        </div>
      </div>-->

      <div
        class="col-xs-12 col-md-12 menu-4 confirm-block"
        :class="{disabled: !$store.state.menuHours}"
      >
        <!-- <router-link class="router" :to="toCheckOut">Confirmar</router-link> -->
        <a @click="toCheckOut" class="router">Confirmar</a>
        <p v-if="!$store.state.menuHours">Lo sentimos, pedidos hasta las 11 am.</p>
      </div>
    </div>
  </div>
</template>

<script>
import DishCard from "@/components/DishCard";
export default {
  name: "menuCard",
  data() {
    return {
      show: false,
      showme: false,
      aux: null,
      today: new Date()
    };
  },
  components: {
    DishCard
  },
  created() {
    this.$store.dispatch("getZone", this.$route.params.zoneId).catch(() => {
      return this.$router.push({ name: "home" });
    });
    if (!this.$store.state.isLogged && this.$store.state.currentUserId) {
      this.$store
        .dispatch("getUser", this.$store.state.currentUserId)
        .then(() => {})
        .catch(() => {
          this.$store.dispatch("toggleModals", { open: "login" });
        });
      this.$store.dispatch("getMenu", this.$route.params.id);
    } else {
      this.$store.dispatch("getMenu", this.$route.params.id);
    }
  },
  methods: {
    toCheckOut() {
      if (
        (this.$store.getters.total_cost && this.$store.state.menuHours) ||
        process.env.NODE_ENV == "development"
      ) {
        if (this.$store.state.isLogged) {
          let flag;
          let entradasCount = 0;
          console.log(this.$store.getters.products);

          for (let i = 0; i < this.$store.getters.products.length; i++) {
            console.log(this.$store.getters.products[i]);
            if (this.$store.getters.products[i].subcat.includes("entradas")) {
              entradasCount += 1;
            }
          }
          console.log(
            entradasCount,
            this.$store.getters.products.length,
            this.$store.getters.products.length == entradasCount
          );
          if (this.$store.getters.products.length != entradasCount) {
            this.$store
              .dispatch("postOrder", {
                shopId: this.$store.state.currentShopId,
                ownerId: this.$store.state.currentUser.id,
                paymentType: "cash",
                products: this.$store.getters.products || [],
                collectionSlug: "",
                date: new Date(),
                zoneId: this.$store.getters.actualZone.id
              })
              .then(res => {
                if (res.status == 200) {
                  this.$store.dispatch("attachOrder", res.data);
                  return this.$router.push({ name: "checkout" });
                }
                this.$toasted.show(res.data.detail, {
                  theme: "bubble",
                  position: "top-right",
                  duration: 2500
                });
              });
          } else {
            this.$toasted.show(
              "La orden no puede estar compuesta solo de entradas",
              {
                theme: "bubble",
                position: "top-right",
                duration: 2500
              }
            );
          }
        } else {
          this.$toasted.show("Debe iniciar sesion para poder pedir una orden", {
            theme: "bubble",
            position: "top-right",
            duration: 2500
          });
        }
      }
    }
  }
};
</script>

<style lang="scss">
.min-head {
  font-size: 16px;
}
.mensaje {
  margin: 2rem auto !important;
  font-size: 2rem;
  color: black;
  text-decoration: underline;
}
.icon {
  color: red;
}
.confirm-block {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    color: red;
  }
}
.disabled a {
  border-color: darkgray !important;
  background-color: lightgray !important;
  color: #ffffff !important;
  margin: 0;
  margin-top: 50px;
  margin-bottom: 10px;
}
.router {
  cursor: pointer !important;
  &:disabled {
    background-color: #909090;
    color: #ffffff;
    border: 3px solid #909090;
  }
}

.border-custom {
  @media (min-width: 768px) {
    border-top: 1px solid #d2d2d2;
    margin-top: 60px;
    padding-top: 60px;
  }
}
.platos-container {
  margin-top: 35px;
}
.row-menu {
  display: flex !important;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
</style>
