<template>
  <div class="container">
    <!--Cabecera menu-->
    <div class="col-md-12 head-menu">
      <h2>
        <i class="fas fa-book-open"></i>
        Tu pedido del {{date}}
      </h2>
      <hr>
    </div>
    <!--Cabecera informacion de pago-->
    <div class="col-md-12 head-menu">
      <h3>
        <i class="fas fa-money-check-alt"></i> Información de pedido
      </h3>
      <hr>
    </div>
    <!--Informacion de pago-->
    <div class="col-md-12 info-form">
      <div class="col-md-6">
        <p>Dirección de entrega</p>
        <input type="text" value="Avenida Javier Prado 232" disabled>
      </div>
      <div class="col-md-6">
        <p>Con cuanto vas a cancelar tu pedido</p>
        <input type="text" placeholder="Ejm: 20, 50, 100">
      </div>
      <div class="col-md-6">
        <p>Referencia</p>
        <input
          type="text"
          placeholder="Ingresa una referencia Ejm: Oficina, Nro de departamento, Piso, etc"
        >
      </div>
      <div class="col-md-6">
        <p>¿Realmente necesitas cubiertos?</p>
        <input type="checkbox" name id>
        <label>Si</label>
      </div>
    </div>
    <!--Detalle-->
    <div class="col-md-12 detail-menu">
      <div>
        <hr>
        <h3>
          <i class="fas fa-th-list"></i> Detalle
        </h3>
      </div>
      <hr>
      <div>
        <CheckCard v-for="entrada in  entradas" :dato="entrada" :key="entrada.id"/>
      </div>
    </div>
    <div class="col-md-12 resume-card">
      <span>TOTAL:S/20</span>
      <div class="resume-card__cont">
        <button>Finalizar Compra</button>
      </div>
      <div class="resume-card__cont">
        <p>Al finalizar tu compra, estas aceptando nuestros<a>Terminos y condiciones</a></p>
      </div>
    </div>
  </div>
</template>

<script>
import CheckCard from "@/components/CheckCard";
export default {
  name: "prueba",
  data() {
    return {
      date: "",
      entradas: [
        { name: "Ocopa", price: 2, src: `./arroz_tapado.png` },
        { name: "Ceviche", price: 3, src: "./arroz_tapado.png" },
        { name: "huancaina", price: 2, src: "./arroz_tapado.png" }
      ]
    };
  },
  components: { CheckCard },
  computed: {
    dateNow: function() {
      return this.date
        .split("")
        .reverse()
        .join("");
      // month = this.date.getMonth()
      // day = this.date.getUTCDate()
    }
  },
  methods: {
    getDate: function() {
      const date = new Date();
      const year = date.getFullYear();
      const month = date.getMonth() + 1;
      const day = date.getUTCDate();
      return (this.date = `0${day}/0${month}/${year}`);
    }
  },
  created() {
    this.getDate();
  }
};
</script>

<style>
</style>
