<template>
  <div class="col-xs-3" style="position: fixed;top: 40%;right: 5%;">
    <h2>Tu Orden</h2>
    <div class="cart-container" style="overflow-y: scroll;width: 250px;height: 280px;">
      <ul id="cart">
        @if(session('cart'))
        {!! session('order') !!}
        @else
        <span>Aún no has agregado platos</span>
        @endif
      </ul>
    </div>
  </div>
</template>
