<template>
  <div class="col-md-12 col-xs-12 check-card">
    <div class="col-xs-2 col-md-2 check-card__qty">
      <p>{{dato.cant}}</p>
    </div>
    <div class="col-xs-7 col-md-6 check-card__name">
      <p>{{dato.name}}</p>
    </div>
    <div class="col-xs-3 col-md-3 check-card__price">
      <p>{{dato.mainproduct.price*dato.cant | currency}}</p>
    </div>

    <!-- <div class="check-card__delete">
      <button>
        <i class="fas fa-trash"></i> Eliminar del carrito
      </button>
    </div>-->
    <!-- <pre>{{$data}}</pre> -->
  </div>
</template>

<script>
export default {
  props: ["dato"],
  data() {
    return {
      count: 0,
      state: false
    };
  }
};
</script>

<style>
</style>
