<template>
  <div class="col-md-4 dish-card">
    <div class="dish-name-cont">
      <p class="dish-name">
        <i class="fas fa-question-circle" v-tooltip="tooltip"></i>
        {{datos.mainproduct.name}}
      </p>
    </div>
    <div class="dish-card__cont">
      <div class="out-of-stock" v-show="datos.stock == 0">
        <p>Agotado</p>
      </div>
      <span
        v-if="$store.getters.cantidadSelected(datos.mainproduct.id)[0] ? $store.getters.cantidadSelected(datos.mainproduct.id)[0].cant : 0"
        id="foodRegular"
      >{{$store.getters.cantidadSelected(datos.mainproduct.id)[0].cant}}</span>
      <img class="img-responsive" :src="datos.mainproduct.defImageurl || './arroz_tapado.png'" />
    </div>
    <div class="dish-card__qty">
      <button class="add-to-cart" data-role="food-add" @click="dec()">
        <i class="fas fa-minus"></i>
      </button>
      <span class="dish-price">{{datos.mainproduct.price | currency}}</span>
      <button class="add-to-cart" data-role="food-remove" @click="inc()">
        <i class="fas fa-plus"></i>
      </button>
    </div>
  </div>
</template>

<script>
import helper from "../helper.js";
export default {
  props: ["datos"],
  data() {
    return {
      plato: this.datos,
      data: helper.data,
      count: 0,
      tooltip: {
        content: this.datos.mainproduct.description,
        placement: "bottom",
        classes: ["info"],
        trigger: "hover click",
        targetClasses: ["it-has-a-tooltip"],
        offset: 10,
        delay: {
          show: 500,
          hide: 300
        }
      }
    };
  },
  computed: {
    outStock() {
      return process.env.NODE_ENV != "development";
    }
  },
  methods: {
    inc() {
      // helper.inc(this.datos);
      console.log(this.datos);

      if (this.datos.stock != 0) {
        this.count = this.$store.getters.cantidadSelected(
          this.datos.mainproduct.id
        )[0]
          ? this.$store.getters.cantidadSelected(this.datos.mainproduct.id)[0]
              .cant > 0
            ? this.$store.getters.cantidadSelected(this.datos.mainproduct.id)[0]
                .cant
            : 0
          : 0;
        this.count++;
        this.$store.dispatch("toCart", { cant: this.count, ...this.datos });
        this.$forceUpdate();
      }
      // console.log("inc");
    },
    dec() {
      // helper.dec(this.datos);
      if (this.datos.stock != 0) {
        this.count = this.$store.getters.cantidadSelected(
          this.datos.mainproduct.id
        )[0]
          ? this.$store.getters.cantidadSelected(this.datos.mainproduct.id)[0]
              .cant > 0
            ? this.$store.getters.cantidadSelected(this.datos.mainproduct.id)[0]
                .cant
            : 0
          : 0;
        if (this.count >= 1) {
          this.count--;
        }
        this.$store.dispatch("fromCart", { cant: this.count, ...this.datos });
        this.$forceUpdate();
      }
    }
  }
};
</script>

<style lang="scss">
.dish-card {
  @media (min-width: 320px) {
    margin-bottom: 40px;
  }
  @media (min-width: 768px) {
    width: 31% !important;
  }
}
.dish-card__cont {
  position: relative;
}
.dish-name-cont {
  text-align: center;
  color: #af6400 !important;
  font-size: 1.8rem;
  height: 5rem;
}
.dish-name {
  text-align: center;
  color: #af6400 !important;
  font-size: 1.8rem;
  height: 5rem;
}
.dish-price {
  color: #af6400 !important;
  font-weight: bold;
}
.v-popper--theme-tooltip {
  // ...

  .v-popper__wrapper {
    $color: rgba(#af6400, 0.9);

    .v-popper__inner {
      background: $color;
      color: white;
      padding: 24px;
      border-radius: 5px;
      box-shadow: 0 5px 30px rgba(black, 0.1);
      max-width: 250px;
    }

    .v-popper__arrow {
      border-color: $color;
      width: 0;
      height: 0;
      border-style: solid;
      position: absolute;
      margin: 5px;
      z-index: 1;
    }
  }
  &[x-placement^="bottom"] {
    margin-top: 5px;

    .v-popper__arrow {
      border-width: 0 5px 5px 5px;
      border-left-color: transparent !important;
      border-right-color: transparent !important;
      border-top-color: transparent !important;
      top: -5px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
.out-of-stock {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(175, 100, 0, 0.8);
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  p {
    text-align: center;
    color: #ffffff !important;
  }
}
.img-responsive {
  min-height: 210px;
}
</style>
