<template>
  <div class="container footer">
    <div class="col-x-12 col-md-8 footer__links">
      <!-- <div class="col-xs-12 col-md-10 footer__img">
        <img src="/img/logo.png" alt>
      </div>-->

      <span class="col-xs-12 footer__bar"></span>
      <div class="col-xs-12 col-md-6 footer__terms">
        <div class="col-xs-12 col-md-6">
          <a href="/data/Términos_y_condiciones.pdf" target="_blank">Términos y condiciones</a>
        </div>
        <div class="col-xs-12 col-md-6">
          <a href="/data/Políticas_de_Privacidad.pdf" target="_blank">Políticas de privacidad</a>
        </div>
      </div>
      <span class="col-xs-12 footer__bar"></span>
      <div class="col-xs-12 col-md-6 footer__contact">
        <p>Contáctenos al 993754372</p>
      </div>
      <span class="col-xs-12 footer__bar"></span>
    </div>

    <div class="col-xs-12 col-md-4 footer__social">
      <div class="col-xs-12 col-md-9 footer__social__cont">
        <p>&copy; WaitariPerú | Todos los derechos reservados</p>
      </div>
      <div class="col-xs-12 col-md-9 footer__social--cont">
        <a class="footer__social--face" href="https://www.facebook.com/waitari/">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a class="footer__social--inst" href="https://www.instagram.com/waitariperu/?hl=es-la">
          <i class="fab fa-instagram"></i>
        </a>
        <a class="footer__social--twit" href="https://twitter.com/WaitariPeru">
          <i class="fab fa-twitter-square"></i>
        </a>
      </div>
    </div>
  </div>
</template>
