<template>
  <div class="container header">
    <div class="col-xs-4 col-md-6 header__logo">
      <a href="/">
        <img class src="/img/logo.png" alt>
      </a>
    </div>
    <div class="col-xs-8 col-md-6 header__cont">
      <div class="col-md-4 header__cont--btn" v-if="!$store.state.isLogged">
        <button @click="$store.dispatch('toggleModals', {open: 'login'})">Iniciar Sesión</button>
      </div>
      <div class="col-xs-10 col-md-8 header__cont--btn" v-else>
        <button class="col-xd-3 col-md-4 login">
          <span>{{$store.state.currentUser.firstName}}</span>
          <i class="fas fa-power-off" @click.stop.prevent="logout"></i>
        </button>
        <div class="col-xs-4 col-md-10 header__cont--cart">
          <p class="cart-text" @click.stop.prevent="clean">
            <i class="fas fa-shopping-cart"></i>
            {{cost | currency}}
            <i v-if="cost > 0" class="fas fa-trash icon-action"></i>
          </p>
        </div>
        <!-- <div class="col-md-2 header__cont--btn">
        <button @click.stop.prevent="clean" class="logout">
          <i class="fas fa-trash"></i>
        </button>
        </div>-->
      </div>
      <!-- <div class="col-md-2 header__cont--btn" v-if="$store.state.isLogged">
        <button @click.stop.prevent="logout" class="logout">
          <i class="fas fa-power-off"></i>
        </button>
      </div>-->
      <div class="col-xs-4 header__cont--menu">
        <a @click.stop.prevent="showCard=!showCard">
          <i class="fas fa-bars"></i>
        </a>
      </div>
    </div>
    <transition name="fade">
      <div v-if="showCard" class="col-xs-12 header__session">
        <div class="col-xs-12 header__session--cont" v-if="!$store.state.isLogged">
          <a v-on:click.stop.prevent="ingresar" href>Ingresar</a>
        </div>
        <div class="col-xs-12 header__session--cont" v-if="!$store.state.isLogged">
          <a v-on:click.stop.prevent="registrar" href>Regitrarse</a>
        </div>
        <div class="col-xs-12 header__session--cont" v-if="$store.state.isLogged">
          <a v-on:click.stop.prevent="logout" href>Salir</a>
        </div>
      </div>
    </transition>
    <Mlogin
      v-if="$store.state.modals.login"
      @close="$store.dispatch('toggleModals', {close: 'login'})"
    />
    <Mregister
      v-if="$store.state.modals.register"
      @close="$store.dispatch('toggleModals', {close: 'register'})"
    />
    <Mrecovery
      v-if="$store.state.modals.recovery"
      @close="$store.dispatch('toggleModals', {close: 'recovery'})"
    />
    <Mnewpass
      v-if="$store.state.modals.newpass"
      @close="$store.dispatch('toggleModals', {close: 'newpass'})"
    />
  </div>
</template>

<script>
import Mlogin from "@/components/modals/Mlogin";
import Mregister from "@/components/modals/Mregister";
import Mnewpass from "@/components/modals/Mnewpass";
import Mrecovery from "@/components/modals/Mrecoverypass";
import { mapGetters } from "vuex";

export default {
  name: "Header",
  data() {
    return {
      show: false,
      showCard: false
    };
  },
  computed: {
    ...mapGetters(["total_cost"]),
    cost() {
      return this.$store.getters.total_cost;
    }
  },
  methods: {
    logout() {
      this.$store.dispatch("logout");
      this.showCard = false;
      this.$router.push({ name: "home" });
    },
    ingresar() {
      this.$store.dispatch("toggleModals", { open: "login" });
      this.showCard = false;
    },
    registrar() {
      this.$store.dispatch("toggleModals", { open: "register" });
      this.showCard = false;
    },
    clean() {
      this.$store.dispatch("cleanCart");
      if (this.$route.name != "home" || this.$route.name != "menu") {
        this.$router.push({ name: "menu" });
      }
    }
  },
  // filters: {
  //   currency(val) {
  //     return `S/. ${Number(val).toFixed(2)}`;
  //   }
  // },
  components: { Mlogin, Mregister, Mnewpass, Mrecovery }
};
</script>
<style lang="scss">
.header {
  position: fixed;
  background-color: #ffffff;
  z-index: 10;
  width: 100%;
}
.header__cont--btn {
  button {
    padding: 10px;
  }
  .logout {
    padding: 10px 20px;
  }
}
.cart-text {
  cursor: pointer;
}
.icon-action {
  cursor: pointer;
  &:hover {
    color: red !important;
  }
}
</style>
