<template>
  <div id="app">
    <div v-if="finishLoad">
      <Header />
      <router-view class="vista" />
      <Footer />
    </div>
  </div>
</template>

<style lang="scss">
@import "assets/sass/app.scss";
#app {
  position: relative;
}
.vista {
  padding-top: 80px !important;
}
</style>
<script>
import Header from "@/components/Header";
import Footer from "@/components/Footer";
import { mapGetters } from "vuex";
export default {
  data() {
    return {};
  },
  components: {
    Header,
    Footer
  },
  computed: {
    ...mapGetters(["finishLoad"])
  },
  created() {
    if (!this.$store.state.isLogged && this.$store.state.currentUserId) {
      this.$store.dispatch("getUser", this.$store.state.currentUserId);
    }
  }
};
</script>
