@mixin breakpoint($class) {
	@if $class==xs {
		@media (max-width: 767px) {@content;}
	} @else if $class==sm {
		@media (min-width: 768px) {@content;}
	} @else if $class==md {
		@media (min-width: 992px) {@content;}
	} @else if $class==lg {
		@media (min-width: 1200px) {@content;}
	} @else {
		@warn "Breakpoint mixin supports: xs, sm, md, lg";
	}
}

@mixin breakpoints($args...) {
	@each $arg in $args {
		@if $arg == mobileXXS {
			@media (max-width: 250px) {@content;}
		} @else if $arg == mobileXS {
			@media (min-width: 251px) and (max-width: 319px) {@content;}
		} @else if $arg == mobileS {
			@media (min-width: 320px) and (max-width: 374px) {@content;}
		} @else if $arg == mobileM {
			@media (min-width: 375px) and (max-width: 424px) {@content;}
		} @else if $arg == mobileL {
			@media (min-width: 425px) and (max-width: 767px) {@content;}
		} @else if $arg == tablet {
			@media (min-width: 768px) and (max-width: 1023px) {@content;}
		} @else if $arg == laptop {
			@media (min-width: 1024px) and (max-width: 1439px) {@content;}
		} @else if $arg == laptopL {
			@media (min-width: 1440px) and (max-width: 2559px) {@content;}
		} @else if $arg == laptop4k {
			@media (min-width: 2560px) {@content;}
		} @else {
			@warn "Breakpoints mixin supports: mobileS, mobileM, mobileL, laptop, laptopL, laptop4k";
		}
	}
}

@mixin hideElement($value){
	@media (max-height: $value) {
		display: none;
		@content;
	}
}

@mixin resetPadding($top, $right:$top, $bottom:$top, $left:$right){
	@media (max-height: 400px) {
		padding: $top $right $bottom $left;
		@content;
	}
}