/* Utilities */

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ol {
  font-family: "Quicksand", sans-serif;
}

.sinpa {
  padding-left: 0;
  padding-right: 0;
  margin: 0 !important;
  width: 100%;
}

/**/

body {
  color: initial;
  background-color: white;
}

.bg-light {
  background-color: white !important;
}

/* promo */
.promo {
  background-color: $color1;

  margin: 0.5em 0;

  @media (min-width: 320px) {
  }

  @media (min-width: 768px) {
    border-radius: 8px;
  }

  p {
    color: white;
    margin-bottom: 0;
    font-weight: 500;

    @media (min-width: 320px) {
      font-size: 14px;
      text-align: left;
      padding: 5px 0;
    }

    @media (min-width: 768px) {
      font-size: 18px;
      text-align: center;
      padding: 10px 0;
    }
  }
}

.menu-1 {
  background-color: $color2;
  color: $color4;
  font-size: 1em;

  // padding: 0 50px;
  margin: 0.5em 0;

  // @media(min-width:320px) {	}
  @media (min-width: 768px) {
    border-radius: 8px;
  }

  p {
    padding: 15px 10px;
    margin-bottom: 0;

    font-weight: 500;

    @media (min-width: 320px) {
      font-size: 14px;
    }

    @media (min-width: 768px) {
      font-size: 18px;
    }
  }
}

.menu-2 {
  width: 100%;
  display: flex;
  justify-content: center;

  @media (min-width: 768px) {
    padding-top: 30px;
  }

  h2 {
    font-weight: 900;
    text-transform: uppercase;
    color: $color3;
    text-align: left;

    @media (min-width: 320px) {
      font-size: 18px;
    }

    @media (min-width: 768px) {
      font-size: 34px;
    }
  }

  h4 {
    text-align: center;
    font-size: 18px;
  }

  img {
    margin-bottom: 15px;
  }

  ul {
    li {
      list-style: none;
      margin-bottom: 5px;
      text-align: center;

      button {
        outline: none;
        background-color: #d0cdcd;
        float: right;
        color: $brand-primary;
        border: 0;
        font-size: 29px;
        padding: 7px;
        line-height: 8px;
        font-weight: bold;
      }
    }
  }
}

.danger {
  background-color: red !important;
  color: #ffffff !important;
}
.menu-3 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;

  h4 {
    text-align: center;
    font-size: 18px;
  }

  ul {
    padding-left: 0;

    li {
      list-style: none;
      text-align: center;
      margin-bottom: 5px;

      button {
        position: relative;
        top: 5px;
        outline: none;
        background-color: #d0cdcd;
        color: $brand-primary;
        border: 0;
        font-size: 29px;
        padding: 7px;
        line-height: 8px;
        font-weight: bold;
      }
    }
  }
}

.menu-4 {
  text-align: center;
  display: flex;
  justify-content: center;

  a {
    border-radius: 10px;
    color: white;
    background-color: $brand-primary;
    font-weight: bold;
    text-decoration: none !important;

    @media (min-width: 320px) {
      font-size: 18px;
      padding: 5px 25px;
      margin: 20px 0;
    }

    @media (min-width: 768px) {
      font-size: 30px;
      padding: 5px 45px;
      margin: 50px 0;
    }

    &:hover {
      color: $brand-primary;
      background-color: white;
      border: 2px solid $brand-primary;
    }
  }
}

/*Aditional*/

.additional-1 {
  h2 {
    background-color: $brand-primary;
    margin-bottom: 0;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
    font-weight: bold;
    margin-bottom: 30px;

    @media (min-width: 320px) {
    }

    @media (min-width: 768px) {
    }

    @media (min-width: 992px) {
      font-size: 26px;
    }

    @media (min-width: 1024px) {
      font-size: 30px;
    }

    @media (min-width: 1200px) {
      font-size: 34px;
    }
  }

  h3 {
    color: $brand-primary;
    font-weight: bold;
    // border-bottom: 1px solid #a2a0a0;
    margin-bottom: 30px;
    font-size: 18px;
    padding-bottom: 5px;
  }

  h4 {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    align-content: center;
    font-weight: bold;
    font-size: 26px;

    span {
      font-size: 20px;
      font-weight: 300;
      padding-left: 30px;
    }
  }

  p {
    text-align: center;
    font-size: 18px;
  }

  input {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 15px;
  }

  .additional-1-1,
  .additional-1-2 {
    border: 1px solid gray;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-radius: 5px;

    @media (min-width: 768px) {
      height: 580px;
    }
  }

  .content-checkbox {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /* Hide the browser's default checkbox */
    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      position: relative;
      top: 5px;
      display: inline-block;
      height: 25px;
      width: 25px;
      background-color: #eee;
    }
  }

  /* On mouse-over, add a grey background color */
  .content-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .content-checkbox input:checked ~ .checkmark {
    background-color: $brand-primary;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .content-checkbox input:checked ~ .checkmark:after {
    display: block;
    border-color: white;
  }

  /* Style the checkmark/indicator */
  .content-checkbox .checkmark:after {
    display: block;
    left: 10px;
    top: 7px;
    width: 5px;
    height: 10px;
    transition: 0.5s;
    border: solid #a5a5a5;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .additional-1-2 {
    input {
      margin-bottom: 30px;
    }
  }
}

.additional-1-3 {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;

  a {
    padding: 5px 45px;
    border-radius: 10px;
    color: white;
    background-color: $brand-primary;
    font-weight: bold;
    font-size: 24px;
  }
}

.additional-2 {
  padding-bottom: 90px;
  padding-top: 90px;

  h2 {
    font-size: 34px;
    font-weight: 900;
    text-transform: uppercase;
    color: $brand-primary;
    text-align: left;
  }

  h4 {
    text-align: center;
    font-size: 18px;
    margin-top: 30px;
  }

  img {
    margin-bottom: 15px;
  }

  ul {
    li {
      list-style: none;
      margin-bottom: 5px;
      text-align: center;

      button {
        outline: none;
        background-color: #d0cdcd;
        float: right;
        color: $brand-primary;
        border: 0;
        font-size: 29px;
        padding: 7px;
        line-height: 8px;
        font-weight: bold;
      }
    }

    li:before {
      content: "";
      margin-right: 5px;
      display: inline-block;
      height: 12px;
      width: 22px;
      background-image: url(/img/6.png);
      background-size: cover;
    }
  }
}

/* SCREEN OVERLAY - Search form */

.waitari-search-wrapper .col-lg-12 {
  padding-left: 0;
  padding-right: 0;
}

.location-overlay {
  font-family: "Quicksand", sans-serif;
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  /* Black fallback color */
  background-color: rgba(255, 255, 255, 0.95);
  /* Black w/opacity */
  /* overflow-x: hidden; */
  transition: 0.5s;

  /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  .closebtn {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    /* Display block instead of inline */
    transition: 0.3s;
    /* Transition effects on hover (color) */
  }

  .location-header a:hover,
  .location-header a:focus {
    color: #f6931e;
  }
}

.location-header {
  z-index: 100;
}

/* Position the content inside the overlay */
.location-overlay-content {
  position: relative;
  top: 13%;
  /* 25% from the top */
  width: 100%;
  /* 100% width */
  text-align: center;
  /* Centered text/links */
  margin-top: 0;

  /* 30px top margin to avoid conflict with the close button on smaller screens */
  .container .row h2 {
    margin-top: 0;
  }

  .glyphicon-menu-down {
    left: 5px;
    top: 2px;
  }

  .glyphicon-menu-up {
    left: 5px;
  }
}

/* Position the close button (top right corner) */
.location-overlay .closebtn {
  position: absolute;
  top: 12px;
  right: 60px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .location-overlay .location-header a {
    font-size: 20px;
  }

  .location-overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

.col-centered {
  float: none;
  margin: 0 auto;
}

/* find a restaurant content */
/* #map {
    height: 100%;
} */
#waitari-search-input {
  padding: 3px;
  border: solid 1px #e4e4e4;
  border-radius: 6px;
  background-color: #fff;
}

#waitari-search-input {
  input {
    border: 0;
    box-shadow: none;
  }

  button {
    transition: 0.2s;
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    cursor: text;
    color: #e0e0e0;
    padding: 3px 8px 0 10px;
    /* border-left: solid 1px #ccc; */
  }

  .glyphicon-search {
    font-size: 23px;
  }
}

/* Google Maps for find restaurant */
.map-wrapper {
  height: 300px;
  width: 100%;
  margin-top: 10px;
}

#waitari-map {
  height: 100%;
}

.btn-wrapper {
  margin-top: 10px;

  .btn {
    font-family: "Quicksand", sans-serif;
  }
}

.btn-wrapper .btn-danger,
.btn-wrapper .btn-default,
.btn-wrapper .btn-info,
.btn-wrapper .btn-primary,
.btn-wrapper .btn-success,
.btn-wrapper .btn-warning {
  text-shadow: none;
}

/* btn primary */
.btn-wrapper .btn-primary {
  background-image: none !important;
  background-color: #f6931e;
  border: none;
}

.btn-wrapper .btn.active,
.btn:active {
  box-shadow: none;
}

.btn-wrapper .btn-primary:focus,
.btn-primary:hover {
  background-position: 0;
  background-color: #ffa841 !important;
}

.btn-wrapper .btn-primary[disabled]:hover {
  background-color: #f6931e !important;
}

/* btn white */
.btn-wrapper .btn-white {
  background-image: none !important;
  background-color: rgb(255, 255, 255);
  border: 1px solid #e4e4e4;
}

.btn-wrapper .btn.active,
.btn:active {
  box-shadow: none;
}

.btn-wrapper .btn-white:hover {
  background-color: rgb(247, 247, 247);
}

.btn-wrapper .btn-white:focus {
  background-position: 0;
  background-color: none;
}

.btn-wrapper .btn-white[disabled]:hover {
  background-color: rgb(247, 247, 247);
}

/* ------------------------------------------ */

.gray-font {
  color: #5d5d5d !important;
  font-weight: 600;
  font-size: 15px;
}

.remove-margintop {
  margin-top: 0;
}

.margin-bottom10 {
  margin-bottom: 10px;
}

.btn-wrapper .btn.active.focus,
.btn-wrapper .btn.active:focus,
.btn-wrapper .btn.focus,
.btn-wrapper .btn:active.focus,
.btn-wrapper .btn:active:focus,
.btn-wrapper .btn:focus {
  /* outline: 0; */
  outline-offset: 0;
}

.btn-wrapper .btn.disabled,
.btn-wrapper .btn[disabled],
.btn-wrapper fieldset[disabled] .btn {
  opacity: 0.5;
}

.btn-wrapper #show-menu {
  padding: 16px 45px;
  border-radius: 6px;
  color: white;
  font-weight: 600;
  font-size: 20px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
}

/* frecuent address */

.frec-addr-wrapper .frec-addr-wrapper_body {
  height: 364px;
  background-color: #ffffff;
  overflow-y: scroll;
  overflow-x: hidden;
}

.frec-addr-wrapper_items-list {
  position: relative;

  // margin-right: 20px;
  .frec-addr-wrapper_item:active {
    background: #ffe09e;
  }
}

.frec-addr-wrapper_item {
  width: 100%;
  cursor: pointer;
  height: 64px;
  border-top: 1px solid #e8e8e8;
  padding: 20px 15px;
  color: #4a4a4a;
}

.frec-addr-wrapper_item:hover {
  background: #fff2d6;
  border: 1px solid #ffe3a0;
  border-radius: 6px;
}

.frec-addr-wrapper_item:hover + .frec-addr-wrapper_item {
  border-top: 1px solid transparent;
}

/*  CHECKOUT  */

// .checkout .panel {
// 	font-family: 'Quicksand', sans-serif;
// }

// .checkout .panel .panel-heading {
// 	background-image: none;
// 	background-color: #F6931E;
// 	padding: 15px 0;
// }

// .checkout .panel .panel-heading span {
// 	color: #fff;
// 	font-size: 20px;
// 	font-weight: 600;
// }

// .checkout .panel .panel-body .form-group {
// 	label {
// 		font-size: 18px;
// 		font-weight: 600;
// 		color: #F6931E;
// 		margin-top: 15px;
// 		margin-bottom: 10px;
// 	}

// 	input {
// 		box-shadow: none;
// 		border-radius: 0;
// 		padding-left: 0;
// 		font-size: 16px;
// 	}
// }

.content-checkbox .text-sp {
  color: rgb(49, 49, 49);
  font-weight: 400;
}

.btn-confirm {
  background-image: none;
  background-color: #42bf6e;
  font-weight: 600;
  border-color: #5ea778;
}

.btn-confirm:hover {
  background-color: #3ead65 !important;
  border-color: #1d7b12;
}

.btn-confirm:active,
.btn-confirm:focus {
  background-color: #3ead65 !important;
  border-color: #1d7b12;
}

.dish-card {
  margin-right: 25px;

  & p {
    color: #70ad46;
    font-weight: bold;
  }

  &__cont {
    position: relative;

    & span {
      position: absolute;
      right: 0;
      top: 0;
      background-color: $brand-primary;
      color: white;
      font-weight: bold;

      @media (min-width: 320px) {
        padding: 0 0.5em;
        border-radius: 5px;
      }

      @media (min-width: 768px) {
        padding: 0.5em 1em;
        border-radius: 15px;
      }
    }
  }

  &__qty {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & span {
      @media (min-width: 320px) {
        font-size: 1em;
      }

      @media (min-width: 768px) {
        font-size: 1.3em;
      }
    }

    & button {
      background: $brand-primary;
      border: none;
      padding: 6px 11px;
      border-radius: 5px;
      & i {
        color: #ffffff;

        @media (min-width: 320px) {
          font-size: 0.8em;
        }

        @media (min-width: 768px) {
          font-size: 0.8em;
        }
      }
    }
  }
}

.check-card {
  color: $color3;
  margin-top: 5px;
  margin-bottom: 10px;

  &__name {
    text-align: left;
  }

  &__price {
    text-align: right;
  }
}

.head-menu {
  color: $color3;
  margin: 20px 0;

  @media (min-width: 320px) {
    display: none;
  }

  @media (min-width: 768px) {
    display: block;
  }

  h3 {
    margin: 0;
    font-weight: bold;
  }
}

.information-cont {
  color: $color3;
  border: 1px solid #d2d2d2;
  @media (min-width: 320px) {
    padding: 0 !important;
    margin-bottom: 30px;
  }

  @media (min-width: 768px) {
    margin: 0 15px !important;
    width: 45% !important;
  }

  & h3,
  h2 {
    margin: 0;
    font-weight: bold;
  }
}

.order {
  border: 1px solid #d2d2d2;
  @media (min-width: 320px) {
    padding: 0 !important;
    margin-bottom: 30px;
  }

  @media (min-width: 768px) {
    margin: 0 15px !important;
    width: 45% !important;
  }

  &__title {
    text-align: center;
    background-color: $brand-primary;
    padding: 10px 0;
    color: white;
    font-size: 1.2em;
    // margin-top: 15px;
    margin-bottom: 25px;
  }

  &__text {
    text-align: center;
    color: $color3;
    font-weight: bold;
    font-size: 1.8rem;
  }

  &__menu {
    text-align: center;

    span {
      font-size: 1.2em;
      color: $color3;
      margin: 10px 0;
    }
  }

  &__address {
    color: $color3;
    margin: 15px 0;
    &--title {
      font-size: 1.8rem;
    }
    p {
      margin: 0;
      font-weight: bold;
    }

    &--address {
      margin: 5px 0;
    }

    &--ref {
      margin: 5px 0;

      input {
        width: 100%;
        border-radius: 5px;
        border: 1px solid #d0cdcd;
        padding: 3px;
      }
    }
    &--spoon {
      margin: 20px 0;
      p {
        margin: 10px 0;
      }
    }
  }
}

.info-form {
  color: $color3;
  font-weight: bold;

  @media (min-width: 320px) {
    margin-bottom: 15px;
    padding: 0 !important;
  }

  @media (min-width: 768px) {
    margin: 0;
    padding: 0 15px !important;
  }

  & input[type="text"] {
    width: 100%;
    border-radius: 3px;
    border: #a5a5a5 solid 1px;
    color: #4a4a4a;
    padding: 5px 10px;
    font-weight: normal;
  }

  & p {
    margin: 0;
    padding: 5px 0;
  }

  &__head {
    @media (min-width: 320px) {
      display: none;
    }

    @media (min-width: 768px) {
      display: flex;
      margin: 10px 0;
    }
  }

  &__headx {
    @media (min-width: 320px) {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: $brand-primary;
      padding: 10px 0;
      box-sizing: border-box;
      color: white;
      font-size: 1.2em;
      margin-bottom: 20px;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__address {
    & input {
      @media (min-width: 320px) {
        display: none;
      }

      @media (min-width: 768px) {
        display: flex;
      }
    }

    & span {
      @media (min-width: 320px) {
        display: flex;
        font-weight: 500;
      }

      @media (min-width: 768px) {
        display: none;
      }
    }

    & p {
      @media (min-width: 320px) {
        font-size: 1em;
        font-weight: bold;
      }

      @media (min-width: 768px) {
        display: none;
      }
    }
  }
}

.info-pay {
  @media (min-width: 320px) {
    margin-bottom: 15px;
    padding: 0 !important;
  }

  @media (min-width: 768px) {
    margin: 0;
  }

  &__headx {
    text-align: center;
    background-color: $brand-primary;
    padding: 10px 0;
    color: white;
    font-size: 1.2em;
    // margin-top: 15px;
    margin-bottom: 25px;
  }
}

.menu {
  color: $color3;
  padding: 1em 0;

  & h1 {
    @media (min-width: 320px) {
      font-size: 18px;
    }

    @media (min-width: 768px) {
      font-size: 40px;
    }
  }
}

.resume-card {
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (min-width: 320px) {
    margin: 1em 0;
  }

  @media (min-width: 768px) {
    margin: 2em 0;
  }

  & span {
    @media (min-width: 320px) {
      font-size: 18px;
    }

    @media (min-width: 768px) {
      font-size: 36px;
      font-weight: bold;
    }
  }

  &__cont {
    @media (min-width: 320px) {
      margin: 0.5em 0;
    }

    @media (min-width: 768px) {
      margin: 1em;
    }

    p a {
      text-decoration: underline;
      color: $brand-primary;
    }
    & button {
      background: $color6;
      border: none;
      border-radius: 3px;
      color: white;
      padding: 5px 15px;
      font-weight: 700;

      a {
        color: white;
        text-decoration: none;
      }
    }
  }
}

.detail-menu {
  & h3 {
    color: $color3;
    font-weight: bold;
  }

  &__cont {
    @media (min-width: 320px) {
      display: none;
      margin: 10px 0;
    }

    @media (min-width: 768px) {
      display: block;
    }
  }
}

.hr-style {
  border-top: 1px solid #d2d2d2;
}

// Modal Styles
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  @media (min-width: 320px) {
    width: 90%;
  }

  @media (min-width: 768px) {
    width: 30%;
  }

  margin: 0px auto;
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.33);
  transition: all 0.2s ease;
}

.modal-header {
  margin-top: 0;
  padding: 0 0 15px 0;
  text-align: right;
  color: $color3;
  font-weight: bold;

  a {
    padding: 0 15px;
    color: $color3;
    text-decoration: none;
    font-size: 1.3em;
  }
}

.modal-body {
  // margin: 20px 0;
  color: $color3;
  &__terms {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
  p {
    font-size: 0.9em;
    font-weight: bolder;
    margin: 5px 0;
  }

  input {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #818181;
    padding: 2px;
  }

  &__btn {
    margin: 10px 0;
    text-align: center;

    button {
      background: $brand-primary;
      color: white;
      border: none;
      border-radius: 7px;
      padding: 5px 10px;
      a {
        color: white;
        text-decoration: none;
        cursor: pointer;
      }
    }

    p {
      margin: 5px 0;
    }

    a {
      color: $color3;
      font-weight: bold;
      text-decoration: underline;
    }
  }
}

.modal-default-button {
  float: right;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to

/* .fade-leave-active below version 2.1.8 */
	 {
  opacity: 0;
}

.cont {
  @media (min-width: 320px) {
    padding: 0 !important;
  }

  @media (min-width: 768px) {
    padding: 0 15px !important;
  }
}

.credit-card {
  font-weight: 600;

  &__cont1 {
    margin: 5px 0;

    & input {
      width: 100%;
      border-radius: 3px;
      border: #a5a5a5 solid 1px;
      color: #4a4a4a;
      padding: 5px 10px;
      font-weight: normal;
    }
  }

  &__cont2 {
    text-align: center;
    margin: 5px 0;

    & input {
      border-radius: 3px;
      border: #a5a5a5 solid 1px;
      color: #4a4a4a;
      padding: 5px 10px;
      font-weight: normal;
    }
  }

  &__cont3,
  &__cont4 {
    margin: 5px 0;
    width: 100%;

    & input {
      width: 100%;
    }
  }
}

.header {
  padding: 10px 0;
  // position: fixed;
  &__logo {
    img {
      height: 40px;

      @media (min-width: 320px) {
        height: 40px;
      }

      @media (min-width: 768px) {
        height: 60px;
      }
    }
  }

  &__cont {
    display: flex;
    align-items: center;
    height: 100%;
    font-size: 1.2em;
    color: $brand-primary;

    @media (min-width: 320px) {
      padding: 0;
      justify-content: flex-end;
    }

    @media (min-width: 768px) {
      padding-top: 10px;
      justify-content: flex-end;
    }

    &--cart {
      display: flex;
      align-items: center;

      @media (min-width: 320px) {
        padding: 0;
        justify-content: flex-start;
        width: 40%;
        .cart-text {
          font-size: 14px;
          // width: 80% !important;
          i {
            display: none;
          }
        }
      }

      @media (min-width: 768px) {
        padding: 0 15px;
        justify-content: flex-end;
        width: 66.66666667%;
        .cart-text {
          font-size: 1.8rem;
          // width: 80% !important;
          i {
            display: inline;
          }
        }
      }

      p {
        padding: 5px;
        margin: 0;
        font-size: 15px;
        border: 1.5px solid $brand-primary;
        border-radius: 12px;
        box-sizing: border-box;

        @media (min-width: 320px) {
          padding: 5px;
          margin: 0;
          font-size: 15px;
          border: 1.5px solid $brand-primary;
          border-radius: 12px;
          box-sizing: border-box;
        }

        @media (min-width: 768px) {
          padding: 7px;
          font-size: 18px;
        }
      }
    }

    &--btn {
      @media (min-width: 320px) {
        // justify-content: flex-start;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        align-items: center;
        font-size: 14px;
        button.login {
          padding: 0;
          background: #fff;
          color: $brand-primary;
          font-size: 14px;
          width: 30%;
          margin-right: 15px;
          i {
            display: none;
          }
        }
      }

      @media (min-width: 768px) {
        display: flex;
        justify-content: center;
        padding: 0 15px;
        button.login {
          background: $brand-primary;
          border-radius: 10px;
          border: none;
          width: 100%;
          font-size: 1.7rem;
          color: white;
          padding: 10px 0;
          i {
            display: inline;
            padding: 0 5px;
          }
        }
      }

      button {
        background: $brand-primary;
        border-radius: 10px;
        border: none;
        width: 100%;
        color: white;
        padding: 10px 6px;
      }
    }

    &--menu {
      @media (min-width: 320px) {
        display: flex;
        justify-content: center;
        padding: 0;
      }

      @media (min-width: 768px) {
        display: none;
      }

      a {
        font-size: 1.5em;
        text-decoration: none !important;
        color: $brand-primary;
      }
    }
  }

  &__session {
    margin-top: 10px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: absolute;
    top: 50px;
    z-index: 3;
    background-color: rgba(245, 245, 245, 0.9);

    &--cont {
      padding: 5px 0;

      a {
        font-size: 1.2em;
        text-decoration: none !important;
        color: $brand-primary;
        font-weight: bold;
      }
    }
  }
}

.map-card {
  min-width: 800 px;

  @media (min-width: 320px) {
    min-height: 200px;
  }

  @media (min-width: 768px) {
    min-height: 365px;
  }
}

.header-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin: 1rem 0;
  @media (min-width: 320px) {
    margin: 20px 0;
  }

  @media (min-width: 768px) {
    margin: 35px 0;
  }

  p {
    padding: 10px 30px;
    text-align: center;
    font-size: 1.5em;
    color: $color3;
    font-weight: 400;
    margin: 2rem 0;
  }

  input {
    margin-bottom: 1.5rem;
    @media (min-width: 320px) {
      width: 80%;
    }

    @media (min-width: 768px) {
      width: 60%;
    }

    border-radius: 10px;
    border: 1px solid #818181;
    padding: 5px 15px;
    background: #e4e4e4;
  }

  button {
    margin-top: 25px;
    border-radius: 10px;
    background: $brand-primary;
    border: none;
    color: white;

    a {
      color: white;
      text-decoration: none;
    }

    @media (min-width: 320px) {
      padding: 5px 20px;
    }

    @media (min-width: 768px) {
      padding: 5px 25px;
      font-size: 1.3em;
    }
    &:disabled {
      background-color: #e4e4e4;
      color: white;
    }
  }
}

.header-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__text {
    text-align: center;
    width: 100%;
    font-size: 3em;
    color: $color3;
    font-weight: 400;
  }
  &__box-container {
    margin: 5rem 0;
  }
  &__box {
    margin: 15px 0;

    @media (min-width: 320px) {
      padding: 0;
      display: flex;
      justify-content: center;
    }

    @media (min-width: 768px) {
      padding: 0 30px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
    }

    img {
      margin: auto;
      @media (min-width: 320px) {
        height: 70px;
        width: 186px;
      }

      @media (min-width: 768px) {
        height: 100px;
        width: 250px;
      }
    }

    p {
      @media (min-width: 320px) {
        text-align: center;
        font-size: 0.8em;
        color: $color3;
        font-weight: 400;
        margin: auto;
        font-weight: 600;
        padding: 20px 10px;
        // width: 75%;
      }

      @media (min-width: 768px) {
        font-size: 1.2em;
        padding: 0 20px;
        margin-top: 50px;
      }
    }
  }

  &__landing {
    position: relative;
    clear: both;
    margin: 5rem 0;
    .liston {
      @media (min-width: 320px) {
        height: 80px;
      }

      @media (min-width: 768px) {
        height: 200px;
      }
    }
    .plate {
      @media (min-width: 320px) {
        bottom: calc(40px - 30.5px);
        left: calc(50% - 30.5px);
        height: 75%;
      }

      @media (min-width: 768px) {
        height: 75%;
        bottom: calc(100px - 75px);
        left: calc(50% - 75px);
      }
    }
  }
}

.confirmation {
  &-responsive {
    @media (min-width: 320px) {
      display: block;
    }

    @media (min-width: 768px) {
      display: none;
    }

    &__head {
      @media (min-width: 320px) {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: $color6;
        padding: 10px 0;
        box-sizing: border-box;
        color: white;
        font-size: 1.2em;
        margin-top: 10px;
        margin-bottom: 25px;
      }

      @media (min-width: 768px) {
        display: none;
      }
    }

    &__text {
      text-align: center;
      color: $color3;
      font-size: 1.2em;
    }

    &__plate {
      margin: 10px 0;
    }

    &__total {
      text-align: center;
      font-size: 1.5em;
      color: $color3;
      font-weight: bold;
      margin: 10px 0;
    }

    &__address {
      margin: 10px 0;
      color: $color3;

      &--title {
        margin: 5px 0;
        text-align: center;
      }
    }
  }

  &-desktop {
    @media (min-width: 320px) {
      display: block;
    }

    @media (min-width: 768px) {
      display: block;
      margin: 20px 0;
      width: 100%;
    }

    hr {
      height: 35px;
      background-color: $brand-primary;
    }

    &__img {
      text-align: center;
      img {
        width: 100%;
      }
    }

    &__text {
      margin-top: 15px;
      padding: 0 40px;
      font-size: 1.1em;
      color: $color3;

      p {
        margin: 20px 0;
      }
    }
  }
}

.footer {
  &__links {
    height: 100%;
    @media (min-width: 768px) {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: flex-end;
      margin-top: 60px;
    }
  }
  &__bar {
    @media (min-width: 320px) {
      height: 5px;
      display: flex;
      background-color: $color3;
      width: 15%;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__img {
    margin: 10px 0;
    padding: 0;

    img {
      @media (min-width: 320px) {
        height: 30px;
      }

      @media (min-width: 768px) {
        height: 145px;
      }
    }
  }

  &__contact {
    margin: 10px 0;
    padding: 0;

    @media (min-width: 320px) {
      font-size: 1em;
    }

    @media (min-width: 768px) {
      font-size: 1em;
    }

    p {
      color: $color3;
      margin: 0;
    }

    i {
      color: green;
    }
  }

  &__terms {
    margin: 10px 0;
    padding: 0;

    div {
      padding: 0;
    }

    a {
      color: $color3;
    }
  }

  &__social {
    margin: 10px 0;
    padding: 0;
    display: flex;

    @media (min-width: 320px) {
      // font-size: 1em;
      flex-flow: column nowrap;
      margin: 10px 15px;
    }

    @media (min-width: 768px) {
      flex-flow: column-reverse nowrap;
      margin: 10px 0;
      margin-top: 39px;
    }

    a {
      margin: 0 5px;
      font-size: 1.5em;
    }

    p {
      color: $color3;
      font-size: 0.9em;
    }
    i {
      @media (min-width: 320px) {
        font-size: 1em;
      }

      @media (min-width: 768px) {
        font-size: 1.5em;
      }
    }
    &--face {
      color: blue;
    }

    &--inst {
      color: purple;
    }

    &--twit {
      color: skyblue;
    }

    &__cont {
      padding: 0;
    }

    &--cont {
      padding: 0;
      @media (min-width: 320px) {
        bottom: 0;
      }

      @media (min-width: 768px) {
        bottom: 10px;
      }
    }
  }
}

.whatsapp-link {
  position: fixed;
  bottom: 30px;
  left: 20px;
  z-index: 100;
  .whatsapp-float-button {
    width: 50px;
    height: auto;
  }
}
